.main-menu {
    background-color: #1d2128;
    height: 100dvh;
    width: 250px;
    display: flex;
    flex-direction: column;
    padding: 15px;

}
.container-icon {
    display: flex;
    align-items: center;
}
.icon-menu{
    color: #6e7787;
}
.title-menu {
    font-size: 18pt;
    margin-left: 6px;
    color: #fff;
    margin-bottom: 4px;
}
.container-painel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
}
.container-item-menu {
    /*background-color: green;*/
    display: flex;
    width: 100%;
    margin: 6px 0;
    padding: 6px 12px;
    border-radius: 15px;
    cursor: pointer;
}
.label-item-menu {
    margin-left: 6px;
    font-size: 12pt;
    color: #6e7787;
}
.label-subtitle {
    color: #6e7787;
    font-weight: 600;
    margin-bottom: 20px;
    
}
.separator {
    display: flex;
    flex-direction: column;
    background-color: #f3f4f6;
    height: 2px;
    border-radius: 10px;
    margin-top: 10px;
}