.main {
    background-color: #323842;
    display: flex;
    min-height: 100dvh;
    position: relative;
}

.container-main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.container-header {
    background-color: #1d2128;
    display: flex;
    width: 100%;
    padding: 6px;
    align-items: center;
}

.title-page {
    color: #fff;
    font-size: 14pt;
    margin: 0 12px;
    margin-top: -5px;
}

.add-button {
    background: none;
    border: 1px solid #5ca9e7;
    color: #5ca9e7;
    padding: 6px 14px;
    border-radius: 6px;
    margin: 0 30px;
    cursor: pointer;
}

.container-search {
    padding: 2px 6px;
    background-color: #f3f4f6;
    display: flex;
    align-items: center;
    border-radius: 6px;
    flex: 1;
}

.input-search {
    background-color: #f3f4f6;
}

.year-select {
    background-color: #1d2128;
    border: none;
    outline: none;
    color: #fff;
    font-weight: 500;
    font-size: 14pt;
    cursor: pointer;
}

.download-button {
    cursor: pointer;
}

.container-profile {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

.profile-photo {
    background-color: #fff;
    width: 34px;
    height: 34px;
    border-radius: 17px;
}

.name-profile {
    color: #fff;
    font-weight: 500;
    font-size: 11pt;
}

.icon-notification {
    cursor: pointer;
    margin: 0 14px;
}

