/* Remove os botões de aumentar/diminuir (spinner) */
input[type="number"] {
    -moz-appearance: textfield;
    /* Firefox */
    -webkit-appearance: none;
    /* Chrome, Safari, Opera */
    appearance: none;
    /* Para outros navegadores */
}

/* Em alguns navegadores, ainda pode ser necessário remover a borda do campo */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.main-sign {
    background-color: #323842;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100dvh;
}

.title-sign {
    color: #5ca9e7;
    margin: 2px 0;
}

input {
    outline: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 6px 10px;
    border-radius: 6px;
    border: none;
    font-size: 11pt;
}

.container-form-sign {
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: #1d2128;
    padding: 20px;
    border-radius: 6px;
    margin: 15px 0;
}

.container-input-sign {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4px 0;
}

.title-input-sign {
    color: rgb(182, 182, 182);
    font-weight: 600;
    align-self: flex-start;
    margin-bottom: 4px;
    font-size: 11pt;
}

input::placeholder {
    color: #5ca9e7;
    font-size: 9pt;
}

.button-confirm-sign {
    background-color: #5ca9e7;
    border: none;
    padding: 6px 10px;
    width: 100%;
    margin-top: 30px;
    border-radius: 6px;
    color: #fff;
    font-size: 12pt;
    cursor: pointer;
}
.button-confirm-sign:hover {
    background-color: #3866e4;
}

.has-account-label {
    color: #5ca9e7;
    margin: 10px 0;
    text-decoration: none;
}

.help-label-sign {
    color: rgb(182, 182, 182);
}

.container-help-sign {
    display: flex;
    flex-direction: column;
}

.icon-email-sign {
    align-self: center;
    margin: 10px 0 0 0;
}

.separator-sign {
    background-color: rgb(182, 182, 182);
    height: 2px;
    flex: 1;
}

.container-password {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    position: relative;
}
#container-input-state {
    width: 60px;
}